* {
  box-sizing: border-box;
}




body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0c1a;
  color: #fff;
  padding-top: 80px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #050d47;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar__brand {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 8px;
}

.navbar__brand .color1 { color: greenyellow; }
.navbar__brand .color2 { color: blue; }
.navbar__brand .color3 { color: rgb(220, 17, 162); }

.navbar__logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.navbar__menu {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.navbar__link {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar__link:hover {
  color: #f4ce42;
}
